@media (max-width: 375px) {
    h1{
        font-family: 'Courier New', monospace;
        font-size: 40px;
        line-height: 50px;
        padding-left: 4%;
        padding-top: 15%;
    }
    h2{
        font-size: 35px;
        line-height: 45px;
        font-family: 'Courier New', monospace;
    }
    p{
        font-size: 22px;
        line-height: 24px;
        font-family: 'Courier New';
    }
    .h{
      padding: 0px 10px 0px 10px;
      height: 300px;
      background-image: url(../images/background1.png);
      background-size: 100%;
    }
    .main-text{
      background-color: #fff;
      padding: 0px 10px 0px 10px;
    }
    .wrapper{
      position: relative;
      margin-left: 7%;
      margin-top: 10%;
    }
    .wrapper a{
      display: flex;
      width: 200px;
      height: 40px;
      line-height: 40px;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      color: #333;
      border: 2px solid #333;
      letter-spacing: 2px;
      position: relative;
      transition: all .35s;
    }
    
    .wrapper a span{
      position: relative;
      z-index: 2;
    }
    
    .wrapper a:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #ff003b;
      transition: all .35s;
    }
    
    .wrapper a:hover{
      color: #fff;
    }
    
    .wrapper a:hover:after{
      width: 100%;
    }
    .ii{
        width: 100%;
        padding: 0px 0px 50px 0px;
    }
    .ii-h2{
        padding-right: 0px;
        padding-left: 0px;
    }
    .ii-p{
        font-size: 22px;
        line-height: 24px;
        padding-right: 0px;
        padding-left: 0px;
        font-family: 'Courier New';
    }
    .superman{
      width: 45%;
      height: 47%;
    }
    .footer{
        width: 100%;
    }
    .foot-div{
        display: flex;
        justify-content: space-between;
        flex-direction: row; 
    }
    .foot-block1{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 220px;
        margin-left: 50px;
    }
    .foot-h3{
        text-align: center;
        font-size: 38px;
        font-weight: 800;
    }
    .foot-img{
        width: 220px;
        height: 80px;
    }
    .foot-p{
        text-align: right;
        margin-top: 20px;
    }
    .start{
        text-decoration: none;
        color: black;
    }
    .start:hover{
        text-decoration: underline;
        color: rgb(130, 3, 3);
    }
}
